<!--
<div class="card mat-card mx-auto" id="aboutme">
  <div id="info">
    <div class="title mb-1">
      <h3>Courses</h3>
    </div>

    <div class="row align-item-center">
      <div class="col">
        <div class="pt-2 pl-4 ml2">
          <div class="position-relative ex-me mb-4">
            <h5><i class="fa-brands fa-html5"></i>HTML y CSS</h5>
            <h5><i class="fa-brands fa-js"></i>JavaScript</h5>
            <p class="text-muted mb-1">
              <strong>Fundation Freecodecamp </strong>
              <small>JANUARY 2022</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-item-center">
      <div class="col">
        <div class="pt-2 pl-4 ml2">
          <div class="position-relative ex-me mb-4">
            <h5><i class="fa-brands fa-html5"></i>HTML y CSS</h5>
            <h5><i class="fa-brands fa-js"></i>JavaScript</h5>
            <h5><i class="fa-brands fa-angular"></i>Angular</h5>
            <h5><i class="fa-solid fa-database"></i>MySQL</h5>
            <h5><i class="fa-brands fa-java"></i>Java EE y Spring Boot</h5>
            <p class="text-muted mb-1">
              <strong>Bootcamp Argentina Program </strong>
              <small>OCTOBER 2021 - APRIL 2022 </small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
